[Desktop Entry]
Encoding=UTF-8
Name=Link para Primeiros passo atualizado.pdf - Google Drive
Type=Link
URL=https://drive.google.com/file/d/1vemC6G790JNte1882V53DAKEawJzVIWL/view
Icon=text-html
